* {
  box-sizing: border-box;
}

body {
  /* background-color: aquamarine; */
  margin: auto 0;
}

.header1 {
  background-color: rgb(98, 98, 184);
  border-radius: 0px;
}

.navigation-bar {
  font-size: 24px;
}

.ul1 {
  color: bisque;
  display: flex;
  flex-direction: row;
  gap: 0px;
  text-align: center;
  padding-left: 360px;
}

a {
  color: bisque;
  text-decoration: none;
}

.ul1 {
  list-style-type: none;
}

.li1 {
  margin: 30px;
  transition: 1s;
}

.li1:hover {
  text-decoration: underline;
  color: brown;
}

.leqsikoni {
  margin: auto;
  color: #fff;
  background-color: red;
  border-radius: 20px;
  max-width: 200px;
  text-align: center;
}

.genetika {
  text-align: center;
  color: bisque;
  font-size: 50px;
}

.monawileebi {
  text-align: center;
  color: rgb(189, 129, 40);
  font-size: 18px;
  width: 300px;
  margin: auto;
}

.pedagogi {
  text-align: center;
  color: rgb(189, 129, 40);
  font-size: 18px;
  font-weight: 600;
}

.dziritadi-terminebi {
  text-align: center;
  font-weight: bold;
}

.qve-satauri {
  text-align: center;
  color: aqua;
  font-size: 22px;
}

.terminebis-ertoblioba {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 100px;
  margin-right: 100px;

  gap: 20px;
  justify-content: space-around;
}

.termini {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  max-height: 500px;
  /* width: 100%;
  height: 100%; */
  border: 1px solid black;
  border-radius: 10px;
}

.img {
  height: 300px;
  width: 100%;
  border-radius: 10px;
}

.sityva {
  text-align: center;
  font-weight: bold;
  text-align: center;
  width: 80%;
  margin: auto;
  color: aqua;
}

.footer {
  text-align: center;
}
